.chat-side
  .side-header
    .header-box
      %p.header-box__user
        ユウスケ
      %ul.header-box__icon
        %li.header-box__icon__new-groups
          = link_to "#"  do
            = icon('far', 'edit')
        %li.header-box__icon__edit-user
          = link_to "#" do
            = icon('fa', 'cog')

  .groups
    = link_to "#", class:"group" do
      .group
        %p.group__group-name
          New-group
        %p.group__latest-massage
          まだメッセージがありません

    = link_to "#", class:"group" do
      .group
        %p.group__group-name
          New-gropu2
        %p.group__latest-massage
          まだメッセージがありません