.chat-side
  .side-header
    .header-box
      %p.header-box__user
        = current_user.name
      %ul.header-box__icon
        %li.header-box__icon__new-groups
          = link_to new_group_path do
            = icon('far', 'edit', class: 'icon')
        %li.header-box__icon__edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')



  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。